/*
* @Author: Hongxuan
* @Date:   2016-09-30 13:13:10
* @Last Modified by:   Hongxuan
* @Last Modified time: 2016-10-08 12:01:31
*/

.changeShow {
	padding: 0px 15px;
	line-height: 2em;
	display: inline-block;
	color: #ffffff;
	text-align: center;
	background-color: #1aad19;
	border-radius: 5px;
	box-sizing: border-box;
    cursor: pointer;
}

.del {
    cursor: pointer;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert h4 {
    margin-top: 0;
    color: inherit;
}
.h4, h4 {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.1;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
